* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  display: flex;
}
h1 {
  color: rgb(14, 217, 235);
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 3px solid black;
}

.board div {
  width: 50px;
  height: 50px;
}

/* black squares */

.board div:nth-child(16n + 1),
.board div:nth-child(16n + 3),
.board div:nth-child(16n + 5),
.board div:nth-child(16n + 7),
.board div:nth-child(16n + 10),
.board div:nth-child(16n + 12),
.board div:nth-child(16n + 14),
.board div:nth-child(16n + 16) {
  background: black;
}

/* white squares */

.board div:nth-child(16n + 2),
.board div:nth-child(16n + 4),
.board div:nth-child(16n + 6),
.board div:nth-child(16n + 8),
.board div:nth-child(16n + 9),
.board div:nth-child(16n + 11),
.board div:nth-child(16n + 13),
.board div:nth-child(16n + 15) {
  background: white;
}
