/* tag {
   property: value;
   property: value;
   property: value;
   property: value;
   property: value;
   property: value;
   property: value;
   property: value;
   property: value;
   property: value;

} */

h1{

  color: aqua;
  font-size: 20 px;

}